body {

/*background-color: #008080;*/
margin: 0;
padding: 0;
    width: 100vw;
    height: 100vh;

}

.centerContentContainer {

    /*border: 1px solid red;*/
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:monospace;    

    width: 100vw;
    height: 100vh;

}

.centerContent {
    /*border: 1px solid red;*/
    display: flex;
    flex: 1;
    flex-direction: column;
    line-height: 4rem;

height: 100vh;
width: 100vw;

}

.articles,
.author,
.about,
.contact {

    display: flex;
    flex: 1;

    justify-content: center;
    align-items: center;

    /*border: 1px solid red;*/
    font-size: 1.5rem;
    font-weight: 900;

}

.clearText {

    background-color: white;
    color: black;
    border: 1px solid black;
    text-align: center;
    width: 10rem;
    
}
    

.articles {

background-image: url(articles.jpeg);
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-size: cover;

}


.author {

    background-image: url(author.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.about {

    background-image: url(about.jpeg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.contact {

    background-image: url(contact.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

a {

    text-decoration: none;

}