body {

/*background-color: #008080;*/
margin: 0;
padding: 0;
    width: 100vw;
    height: 100vh;

    font-family: monospace;
    background-color:  	white;

}

.centerContentContainer {

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family:monospace;    
    width: 100vw;


}

.headerText {

font-size: 1.5rem;
text-align: justify;
padding: 4rem 2rem;
line-height: 3rem

}

.mainText {

text-align: justify;
font-size: 1rem;
line-height: 3rem;
width: 70vw;

}


.footer {

display: flex;
flex:1;
justify-content: center;
align-items: center;
padding-top: 8rem;
padding: 4rem;
font-size: 1rem;
background-color: #008080;

}

.footerText {

text-align: center;
color: white;

}

img {

display: flex;
flex: 1;
justify-content: center;
width: 80vw;
padding: 2rem 0rem;



}

a {

    text-decoration: none;
    color: black;

}